# Dati e feature — troppo grandi per git
data/TSM_features/**
data/annotations/**
data/processed/**
!data/TSM_features/.gitkeep
!data/annotations/.gitkeep

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Cache
.cache/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

#mamba
mamba_env.tar
mamba_env.sif

.agents/
